@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #000;
}

.sec1 {
    height: 100vh;
    background: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url(Media/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.sec1 header nav {
    display: flex;
    justify-content: space-between;
    padding: 40px 75px;
}
.sec1 header nav > a {
    font-size: 1.3em;
    font-weight: 700;
    color: #fff;
}
.sec1 header nav > a span {
    color: #dab4b4;
    font-weight: 700;
}
.sec1 header nav ul li {
    display: inline-block;
    list-style: none;
}
.sec1 header nav ul li a {
    font-size: 0.8em;
    color: #fff;
    font-weight: 500;
    opacity: 0.8;
    padding: 0 5px;
    margin-left: 10px;
    transition: 0.3s;
}
.sec1 header nav ul li a:hover {
    color: #dab4b4;
}
.sec1 .text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    width: 100%;
}
.sec1 .text h1 {
    font-size: 2.9em;
    color: #fff;
    font-weight: 700;
    word-spacing: 2px;
}
.sec1 .text p {
    font-size: 0.75em;
    color: #fff;
    opacity: 0.9;
    margin: 15px 0 35px;
}
.btn {
    border: 2px solid #fff;
    border-radius: 2px;
    opacity: 0.85;
    color: #fff;
    padding: 7px 18px;
    font-size: 0.9em;
    font-weight: 600;
    transition: 0.4s;
}
.btn:hover {
    color: #000;
    background: #fff;
    box-shadow: 0 0 5px #fff,
                0 0 10px #fff;
}

.sec2, .sec3, .sec4, .sec5, .sec6 {
    text-align: center;
    margin: 100px 0 100px;
}

.sec2 h2 {
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 5px;
}
.sec2 > p {
    font-size: 0.78em;
    font-weight: 400;
    margin-bottom: 50px;
    opacity: 0.9;
}
.sec2 .row {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.sec2 .row .col {
    width: 27%;
    background-color: #e7e4e481;
    border-radius: 10px;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.3s;
}
.sec2 .row .col:hover {
    box-shadow: 0 0 10px #cecacacb,
                0 0 18px #bdbabacb;
}
.sec2 .row .col h3 {
    font-size: 0.97em;
    margin: 8px 0 0;
}
.sec2 .row .col p {
    font-size: 0.73em;
    opacity: 0.9;
    padding: 12px 20px;
}

.sec3 {
    margin: auto;
    width: 100%;
}
.sec3 > h2 {
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 5px;
}
.sec3 > p {
    font-size: 0.78em;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.8;
}
.sec3 .row {
    display: flex;
    justify-content: space-around;
    padding: 20px 90px;
}
.sec3 .row .col {
    width: 30%;
    text-align: left;
}
.sec3 .row .col img {
    width: 100%;
    border-radius: 10px;
}
.sec3 .row .col h3 {
    font-size: 0.9em;
    font-weight: 700;
    padding: 5px 2px;
}
.sec3 .row .col p {
    font-size: 0.75em;
    opacity: 0.8;
}

.sec4 > h2 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 5px;
}
.sec4 > p {
    font-size: 0.78em;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.7;
}
.sec4 .row {
    display: flex;
    justify-content: space-around;
    padding: 20px 90px;
}
.sec4 .row .col {
    width: 30%;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.sec4 .row .col img {
    width: 100%;
    border-radius: 12px;
    transition: 0.4s;
}
.sec4 .row .col img:hover {
    transform: translateY(-5px);
}

.sec5 > h2 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 5px;
}
.sec5 > p {
    font-size: 0.78em;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.7;
}
.sec5 .row {
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}
.sec5 .row .col {
    width: 40%;
    display: flex;
    text-align: left;
    background-color: #e7e4e481;
    padding: 20px 10px; 
    border-radius: 10px;
    transition: 0.4s;
}
.sec5 .row .col:hover {
    box-shadow: 0 0 10px #cecacacb,
                0 0 15px #bbb7b7cb;
    cursor: pointer;
}
.sec5 .row .col .image img {
    border-radius: 50%;
    height: 45px;
}
.sec5 .row .col .text {
    padding: 5px 15px;
}
.sec5 .row .col .text p {
    font-size: 0.75em;
    opacity: 0.85;
}
.sec5 .row .col .text h5 {
    padding: 10px 0;
}
.sec5 ion-icon {
    color: rgb(121, 156, 50);
}

.sec6 {
    width: 80%;
    margin: 130px auto 100px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Media/calltoaction.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    border-radius: 12px;
    position: relative;
}
.sec6 .text {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-45%);
}
.sec6 .text h3 {
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 25px;
}

.sec7 {
    text-align: left;
    background-color: #e7e4e481;
    margin: 130px 0 0;
}
.sec7 footer{
    width: 80%;
    margin: auto;
    padding: 40px 5px;
    display: grid;
    grid-template-columns: 2.2fr 1fr 1fr 1fr 0.8fr;
    grid-gap: 20px;
}
.sec7 footer .col-1 > a {
    font-size: 1.4em;
    font-weight: 700;
}
.sec7 footer .col-1 > a span {
    color: #bb9d9d;
    font-weight: 700;
}
.sec7 footer .col-1 > p {
    font-size: 0.7em;
    opacity: 0.8;
    font-weight: 500;
    margin: 15px 0;
}
.sec7 footer .col-1 .social-media ion-icon {
    padding: 0 5px 5px 5px;
    font-size: 1.05em;
    cursor: pointer;
    transition: 0.4s;
}
.sec7 footer .col-1 .social-media ion-icon:hover {
    transform: translate(-3px, -4px);
}
.sec7 footer .col h5 {
    margin-bottom: 15px;
}
.sec7 footer .col a {
    display: block;
    font-size: 0.7em;
    padding-bottom: 4px;
    transition: 0.4s;
    opacity: 0.9;
}
.sec7 footer .col a:hover {
    transform: translate(-4px, -3px);
}